body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
#namecolor{
    color: #FFA500;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 18px;
    
}
.topbanner{
    display: flex;
    margin-bottom: 100px;
    
}
.firstsection{
    width: 50%;
    margin-left: 80px;
}
.firstsection img{
    width: 80%;
}
.firstsection p{
    margin-right: 60px;
    text-align: justify;
    padding-top: 10px;     
}
.topimages{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.btn{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(#FF936F,#FF7152);
    color: white;
    font-weight: 700;
    
}
.secondsection{
    display: flex;
}
.secondimage{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#textfix{
    padding-right: 100px;
}
.thirdsection{
    display: flex;
}
.box{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 20px 20px 60px gray;
    padding: 20px 30px;
}
.heading{
    font-size: 40px;
}
.box p{
    text-align: justify;
}
.color{
    color: #FFA500;
}
.lastsection{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#borderleft2{
    border-image: repeating-linear-gradient(#0015FF,#00DAFF);
    border-image-slice: 1;
    border-left: 7px solid;
}
#borderleft1{
    border-image: repeating-linear-gradient(#FF9B76,#FF684C);
    border-image-slice: 1;
    border-left: 7px solid;
}
#footer {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 20px;
    color: #9aa79a;
}